.header{
    position:relative;
    overflow:hidden;
    display:flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: flex-start;
    align-content: flex-start;
    height:50vw;
    min-height:400px;
    max-height:550px;
    min-width:300px;
    color:#eee;
  }
  .header:after{
    content:"";
    width:100%;
    height:100%;
    position:absolute;
    bottom:0;
    left:0;
    z-index:-1;
   background: linear-gradient(to bottom, rgba(0,0,0,0.12) 40%,rgba(27,32,48,1) 100%);
  }
  .header:before{
    content:"";
    width:100%;
    height:200%;
    position:absolute;
    top:0;
    left:0;
  
      transform: translateZ(0);
    background:#1B2030 url(https://images.unsplash.com/photo-1571993142257-eae0b44cf0f1?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ) 50% 0 no-repeat;
    background-size:100%;
    background-attachment:fixed;
    animation: grow 360s  linear 10ms infinite;
    transition:all 0.4s ease-in-out;
    z-index:-2
  }
  .header a{
    color:#eee
  }
  
  .logo{
    border:2px solid #fff;
    border-radius:3px;
    text-decoration:none;
    display:inline-flex;
    align-items:center;
    align-content:center;
    margin:20px;
    padding:0px 10px;
    font-weight:900;
    font-size:1.1em;
    line-height:1;
    box-sizing:border-box;
    height:40px
  }
  .sides, .info{
    flex: 0 0 auto;
    width:50%
  }
  .info{
    width:100%;
    padding:10% 10% 0 10%;
    text-align:center;
    text-shadow:0 2px 3px rgba(0,0,0,0.2)
  }
  .author{
    display:inline-block;
    width:50px;
    height:50px;
    border-radius:50%;
    background:url(https://i.imgur.com/6DLCsZcb.jpg) center no-repeat;
    background-size:cover;
    box-shadow:0 2px 3px rgba(0,0,0,0.3);
    margin-bottom:3px
  }
  .info h4, .meta{
    font-size:0.7em
  }
  .meta{
    font-style:italic;
  }
  .header nav {
      display: flex;
      justify-content: right;
      padding: 15px;
  }
  
  .header ul {
      display: flex;
      list-style: none;
      align-items: center;
  }
  
  .header ul li {
      margin-left: 30px;
  }
  
  .header a {
      color: #fff; /* Text color white for visibility */
      text-decoration: none;
      font-weight: 500;
      font-size: 1.1rem;
      transition: color 0.3s ease, transform 0.3s ease;
  }
  
  .header a:hover {
      color: #f39c12;
      transform: translateY(-2px);
  }
  
  .header a.active {
      text-decoration: underline;
      color: #f39c12;
  }
  @keyframes grow{
    0% { transform: scale(1) translateY(0px)}
    50% { transform: scale(1.2) translateY(-400px)}
  }